USE [master]
GO
/****** Object:  Database [1111_ProjSoft]    Script Date: 11/17/2024 12:01:44 AM ******/
CREATE DATABASE [1111_ProjSoft]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'1111_ProjSoft', FILENAME = N'C:\Users\SIMON\1111_ProjSoft.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'1111_ProjSoft_log', FILENAME = N'C:\Users\SIMON\1111_ProjSoft_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [1111_ProjSoft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [1111_ProjSoft]
GO
/****** Object:  Table [dbo].[Jezik]    Script Date: 11/17/2024 12:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jezik](
	[JezikId] [int] IDENTITY(1,1) NOT NULL,
	[NazivJezika] [nvarchar](50) NULL,
	[SkraceniNaziv] [nvarchar](50) NULL,
 CONSTRAINT [PK_Jezik] PRIMARY KEY CLUSTERED 
(
	[JezikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prevod]    Script Date: 11/17/2024 12:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prevod](
	[JezikId] [int] NOT NULL,
	[SrbRecId] [int] NOT NULL,
	[PrevodRB] [int] IDENTITY(1,1) NOT NULL,
	[PrevodRec] [nvarchar](50) NULL,
 CONSTRAINT [PK_PrevodNovi] PRIMARY KEY CLUSTERED 
(
	[JezikId] ASC,
	[SrbRecId] ASC,
	[PrevodRB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SrbRec]    Script Date: 11/17/2024 12:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SrbRec](
	[SrbRecId] [int] IDENTITY(1,1) NOT NULL,
	[SrbNaziv] [nvarchar](50) NULL,
 CONSTRAINT [PK_SrbRec] PRIMARY KEY CLUSTERED 
(
	[SrbRecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prevod]  WITH CHECK ADD  CONSTRAINT [FK_PrevodNovi_Jezik] FOREIGN KEY([JezikId])
REFERENCES [dbo].[Jezik] ([JezikId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Prevod] CHECK CONSTRAINT [FK_PrevodNovi_Jezik]
GO
ALTER TABLE [dbo].[Prevod]  WITH CHECK ADD  CONSTRAINT [FK_PrevodNovi_SrbRec] FOREIGN KEY([SrbRecId])
REFERENCES [dbo].[SrbRec] ([SrbRecId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Prevod] CHECK CONSTRAINT [FK_PrevodNovi_SrbRec]
GO
USE [master]
GO
